<div class="uk-navbar-container uk-container-expand boundary uk-box-shadow-medium" data-uk-sticky>
    <div>
        <div class="uk-container uk-container-expand uk-navbar" data-uk-navbar="mode:click">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo">
                    <img uk-svg="" src="../../../images/uikit.png" class="uk-margin-small-right" hidden="true">
                    <svg width="28" height="34" viewBox="0 0 28 34" xmlns="http://www.w3.org/2000/svg" class="uk-margin-small-right uk-svg" data-svg="../../../images/uikit.png">
                        <polygon fill="#fff" points="19.1,4.1 13.75,1 8.17,4.45 13.6,7.44 "></polygon>
                        <path fill="#fff" d="M21.67,5.43l-5.53,3.34l6.26,3.63v9.52l-8.44,4.76L5.6,21.93v-7.38L0,11.7v13.51l13.75,8.08L28,25.21V9.07 L21.67,5.43z"></path>
                    </svg> UIkit
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    <li routerLinkActive="uk-active">
                        <a routerLink="/template-driven" class="uk-text-capitalize">TEMPLATE-DRIVEN</a></li>
                    <li routerLinkActive="uk-active">
                        <a routerLink="/reactive" class="uk-text-capitalize">REACTIVE</a></li>
                    <li routerLinkActive="uk-active">
                        <a href="https://github.com/mittalprince/Everyday-Stuff/tree/master/Angular/Form-validation" class="uk-text-capitalize">DOCUMENTATION</a></li>
                </ul>
                <div class="uk-navbar-item uk-visible@m">
                    <a href="https://github.com/mittalprince/Everyday-Stuff/tree/master/Angular/Form-validation"class="uk-button uk-button-default uk-border-rounded">DOWNLOAD <span uk-icon="download"></span></a>
                </div>
                <a class="uk-navbar-toggle-icon uk-hidden@m uk-link-reset">
                    <span data-uk-icon="menu"></span>
                </a>
            </div>
        </div>
    </div>
</div>