<div class="uk-section">
    <div class="uk-container">
        <h1 class="uk-heading-line uk-text-center">
            <span>Forms in Angular</span>
        </h1>
        <div class="uk-grid uk-grid-small uk-margin-small" data-uk-grid>
            <div class="uk-width-1-2">
                <h4 class="uk-text-center">Template-Driven</h4>
            </div>
            <div class="uk-width-1-2">
                <h4 class="uk-text-center">Reactive Form</h4>
            </div>
        </div>
    </div>
</div>