.bg {
    -webkit-clip-path: polygon(86% 0, 100% 0, 100% 71%, 0 94%, 0 0);
    clip-path: polygon(86% 0, 100% 0, 100% 71%, 0 94%, 0 0);
    position: absolute;
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.white-txt {
    color: #fff;
}