<div class="uk-section">
    <div class="uk-container">
        <div id="editor"></div>
        <div class="uk-grid uk-grid-small uk-margin-small-top" data-uk-grid>
            <div class="uk-width-1-1">
                <button type="button" class="uk-button uk-button-primary uk-border-rounded" (click)="getEditorContent()">Show Content</button>
            </div>
        </div>


        <div *ngIf="htmlData !== '<p><br></p>' " class="uk-card uk-card-default uk-border-rounded uk-margin-small-top" style="border: 1px solid#e5e5e5;">
            <div class="uk-card-body">
                <div [innerHTML]="htmlData"></div>
            </div>
        </div>
    </div>
</div>