.background {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/main_bg.jpg');
    z-index: -1;
}

*{
    font-size: 14px;
}
.borders{
    border: 1px solid #bdbcbc;
}

.text1 {
    color:#4fa775;
}

.text2{
    color: #b7b7b7;
}

p{
    color: #959595;
}

.date-txt{
    color: #959595;
}

.btn-text{
    color: #198e4d;
}

.bg1 {
    background-color: white;
    background-image: linear-gradient(355deg, #f4f4f4 0%, white 70%);
}

.footers{
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 0px;
    height: 80px;
}