<div class="uk-section">
    <div class="uk-container">
        <div class="uk-card uk-margin-small">
            <div class="uk-grid uk-grid-small" data-uk-grid>
                <div class="uk-width-expand">
                    <h5 class="uk-margin-remove">Github Issue</h5>
                    <ul class="uk-breadcrumb uk-margin-remove">
                        <li><a routerLink="/template">Personal Account</a></li>
                        <li><span>Item</span></li>
                    </ul>
                </div>
                <div class="uk-wdith-auto">

                </div>
            </div>
        </div>

        <div class="uk-grid uk-grid-small" data-uk-grid>
            <div class="uk-width-1-3">
                <ul data-uk-tab>
                    <li routerLinkActive="uk-active"><a routerLink="/shimmer-template">Current</a></li>
                    <li routerLinkActive="uk-active"><a>Past</a></li>
                    <li>
                        <a href="#">Others <span class="uk-margin-small-left" data-uk-icon="icon: triangle-down"></span></a>
                        <div data-uk-dropdown="mode: click; animation: uk-animation-slide-top-small; duration: 300">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a>Create Issue</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <div class="uk-panel uk-panel-scrollable" data-uk-height-viewport="offset-bottom: 20">

                    <div class="uk-card uk-card-default uk-border-rounded uk-margin-small active" *ngFor="let i of [].constructor(15); let I = index" >
                        <div class="uk-padding-small">
                            <div class="uk-grid uk-grid-small" data-uk-grid>
                                <div class="uk-width-auto">
                                    <div id="profileImage" [innerHTML]="setImage()" class="uk-text-center uk-flex-center uk-border-circle" [ngStyle]="setBackground()"></div>
                                    <!-- <img src="https://wrappixel.com/demos/admin-templates/xtreme-admin/assets/images/users/5.jpg" width="50" class="uk-border-circle" alt=""> -->
                                </div>
                                <div class="uk-width-expand">
                                    <h5 class="uk-margin-remove">Prince Mittal</h5>
                                    <h6 class="uk-margin-remove uk-text-meta">Contacted on - 11 July, 2019</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-card uk-card-default uk-border-rounded no-ticket">
                        <div class="uk-card-body">
                            <div class="uk-text-center">
                                <h6 class="uk-margin-remove">You have no issues</h6>
                                <a href="" class="bold-ub uk-text-small">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-expand">
                <div class="uk-card uk-card-default uk-border-rounded uk-height-large" data-uk-height-viewport="offset-bottom: 20">
                    <div class="js-wrapper">
                        <div class="uk-card-header">
                            <div class="uk-grid uk-grid-small" data-uk-grid>
                                <div class="uk-width-auto">
                                    <img width="50" class="uk-border-circle" src="https://wrappixel.com/demos/admin-templates/xtreme-admin/assets/images/users/5.jpg" alt="">
                                </div>
                                <div class="uk-width-expand">
                                    <h5 class="uk-margin-remove">Rakesh Kumar Mittal</h5>
                                    <h6 class="uk-margin-remove uk-text-meta">Issue raised - 26 July, 2019</h6>
                                    <a class="uk-margin-small-right bold-ub small" (click)="toggle()" >Detailed Problem</a>
                                    <a class="uk-margin-small-right bold-ub small" (click)="updateAssign()" >Assign Issue</a>
                                </div>
                                <div class="uk-width-1-3">
                                    <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                        <div class="uk-width-1-2">
                                            <p class="uk-margin-remove uk-text-small bold-ub small-txt">Current Status</p>
                                            <span class="status opened">Opened</span>
                                        </div>
                                        <div class="uk-width-1-2">
                                            <p class="uk-margin-remove uk-text-small small-txt bold-ub">Time Lapsed</p>
                                            <span class="status opened">5 hours</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="assign === true" data-uk-scrollspy="cls: uk-animation-slide-top-small" class="uk-padding-small-top uk-card-body">
                            <h5 class="uk-heading-bullet"><span>Assign Issue</span></h5>
                            <div class="uk-grid uk-grid-small" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <label for="" class="uk-form-label">Team member</label>
                                        <select name="" id="" class="uk-select">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <label for="" class="uk-form-label">Remarks</label>
                                        <textarea name="" id="" cols="30" rows="4" class="uk-textarea"></textarea>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <button class="uk-button uk-button-default uk-margin-small-right" (click)="cancelUpdateAssign()">Cancel</button>
                                        <button class="uk-button uk-button-primary">Update</button>
                                    </div>
                            </div>
                        </div>
                        <div *ngIf="assign === false" uk-overflow-auto="selContainer: .uk-height-large; selContent: .js-wrapper" data-uk-scrollspy="cls: uk-animation-slide-top-small">
                            <div class="uk-card-body uk-padding-small-top">
                                
                                <div *ngIf="toggleDetails === true" data-uk-scrollspy="cls: uk-animation-fade">
                                    <div class="uk-grid uk-grid-small" data-uk-grid>
                                        <div class="uk-width-expand">
                                            <h6 class="uk-margin-remove bold-ub">Detailed Problem</h6>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a (click)="closeDetails()" class="uk-text-danger"><span data-uk-icon="icon: close"></span></a>
                                        </div>
                                    </div>
                                    <p class="uk-margin-remove small-txt">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure aut neque dolores, dicta minus tenetur, exercitationem soluta ab ut quasi pariatur. 
                                        Maxime quae quas libero natus, enim quis aspernatur dicta!
                                    </p>
                                    <hr class="uk-margin-small">
                                </div>

                                <article class="box shine">
                                    
                                </article>
                                <article class="uk-comment uk-comment-primary">
                                    <header class="uk-comment-header uk-grid-small uk-flex-middle" data-uk-grid>
                                        <div class="uk-width-auto">
                                            <img width="30" class="uk-border-circle" src="https://wrappixel.com/demos/admin-templates/xtreme-admin/assets/images/users/5.jpg" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h6 class="uk-margin-remove">Rajat Arora</h6>
                                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                <li><a href="#">12 Days Ago</a></li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-auto">
                                            <span class="status resolved">Resolved</span>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p class="small-txt">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                                            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </article>
                                <div class="uk-tile uk-tile-primary uk-text-center uk-margin-small-top">
                                    <h6 class="small-txt uk-margin-remove bold-ub">Updated the name by the Rakesh 10 days Ago</h6>
                                </div>
                                <article class="uk-comment uk-comment-primary">
                                    <header class="uk-comment-header uk-grid-small uk-flex-middle" data-uk-grid>
                                        <div class="uk-width-auto">
                                            <img width="30" class="uk-border-circle" src="https://wrappixel.com/demos/admin-templates/xtreme-admin/assets/images/users/5.jpg" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h6 class="uk-margin-remove">Rajat Arora</h6>
                                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                <li><a href="#">12 Days Ago</a></li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-auto">
                                            <span class="status closed">Closed</span>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p class="small-txt">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                                            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </article>
                                <div class="uk-tile uk-tile-primary uk-text-center uk-margin-small-top">
                                    <h6 class="small-txt uk-margin-remove bold-ub">Updated the name by the Rakesh 10 days Ago</h6>
                                </div>
                                <div class="uk-tile uk-tile-primary uk-text-center uk-margin-small-top">
                                    <h6 class="small-txt uk-margin-remove bold-ub">Updated the name by the Rakesh 10 days Ago</h6>
                                </div>
                                <article class="uk-comment uk-comment-primary">
                                    <header class="uk-comment-header uk-grid-small uk-flex-middle" data-uk-grid>
                                        <div class="uk-width-auto">
                                            <img width="30" class="uk-border-circle" src="https://wrappixel.com/demos/admin-templates/xtreme-admin/assets/images/users/5.jpg" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h6 class="uk-margin-remove">Rajat Arora</h6>
                                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                <li><a href="#">12 Days Ago</a></li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-auto">
                                            <span class="status work-in-progress">Work in Progress</span>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p class="small-txt">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                                            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </article>
                                <article class="uk-comment uk-comment-primary">
                                    <header class="uk-comment-header uk-grid-small uk-flex-middle" data-uk-grid>
                                        <div class="uk-width-auto">
                                            <img width="30" class="uk-border-circle" src="https://wrappixel.com/demos/admin-templates/xtreme-admin/assets/images/users/5.jpg" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h6 class="uk-margin-remove">Rajat Arora</h6>
                                            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                <li><a href="#">12 Days Ago</a></li>
                                            </ul>
                                        </div>
                                        <div class="uk-width-auto">
                                            <span class="status opened">Converted</span>
                                        </div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p class="small-txt">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
                                            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>