li>a {
    font-family: 'Ubuntu Regular', sans-serif;
}

.uk-breadcrumb>*>* {
    font-family: 'Ubuntu Bold';
    display: inline-block;
    font-size: .775rem;
    color: #1228dcdb;
}

.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    content: "/";
    display: inline-block;
    margin: 0 8px;
    color: #999;
}

.uk-dropdown{
    position: absolute;
    z-index: 1020;
    box-sizing: border-box;
    min-width: 200px;
    padding: 15px;
    background: #fff;
    color: #666;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .15);

}

.uk-tab>*>a {
    font-family: 'Ubuntu Regular', sans-serif;
    font-weight: 400;
    font-size:.875rem;
    border-bottom: 3px solid transparent;
    text-transform: none
}

.uk-tab>.uk-active>a {
    color: #333;
    border-color: #1e87f0;
}

.uk-panel-scrollable{
    resize: none;
    border: none;
    height: 400px;
    padding: 5px;
}

.active{
    border: 1px solid #1e87f0;
}

.no-ticket {
    border: 1px solid #8ef01e;
}

.bold-ub{
    font-family: 'Ubuntu Bold'
}

.small{
    font-size: 12px;
}

a{
    text-decoration: none;
}

.small-txt{
    font-size: 12px;
    color: #666;
}

.status{
    font-family: 'Ubuntu Bold';
    padding: .3em .9em;
    margin-right: 4px;
    font-size: 11px;
    text-transform: capitalize;
    white-space: nowrap;
    border-radius: 3px;
}

.uk-comment-primary{
    border-radius: 4px;
    margin: 4px;
    background: #f8f8f8;
    padding: 10px;
    border: 1px solid#e5e5e5;
}

.uk-card-body{
    padding: 15px 40px;
}

.uk-subnav>*>:first-child{
    font-family: 'Ubuntu Bold';
    display: block;
    color: gb(97, 97, 97);
    font-size: .675rem;
    text-transform: uppercase;
    transition: .1 ease-in-out;
    transition-property: color, background-color;
}

.uk-tile-primary{
    padding: 4px;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(212, 212, 212);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 204, 204);
}

.resolved {
    background-color: #f1f8ff;
    color: #1a6838;
}

.opened {
    background-color: #f1f8ff;
    color: #0366d6;
}

.closed {
    background-color: #f1f8ff;
    color: rgb(22, 97, 84);
}

.work-in-progress {
    background-color: #f1f8ff;
    color: blue;
}

.forced-closed {
    background: #f1f8ff;
    color: blue;
}

#profileImage {
    width: 40px;
    background: #512DA8;
    font-size: 25px;
    color: #fff;
    padding: 5px;
    /* text-align: center; */
    /* line-height: 150px; */
    /* margin: 20px 0; */
}

.box{
    height: 104px;
    width: 682px;
    margin: 4px;
    padding: 10px;
    border-radius: 4px;
}

.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 120px; 
    display: inline-block;
    position: relative; 
    
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
    }
    @-webkit-keyframes placeholderShimmer {
        0% {
          background-position: -468px 0;
        }
        
        100% {
          background-position: 468px 0; 
        }
      }
      
        
  